body {
  font: 70%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}
.path-departments .sfgov-departments .views-view-grid.horizontal {
  margin-bottom: 0;
}
.dataTables_wrapper .dataTables_filter{
  float: left;
  padding-bottom: 15px;
  padding-top: 24px;
  margin-left: -15px;
}

.dataTables_filter label{
  display: inline;
  margin-top: 1rem;
  max-width: 50rem;
  font-size: 18px;
}
.dataTables_wrapper .dataTables_filter input{
  float: right;
  margin-right: 2em;
  margin-top: -15px;
}
.sort_table_filter{
  float: left;
}

.transaction-card__body{
  font-size: 14px;
}
[type=search], .usa-search-input{
  border-right: solid 1.5px;
}

.sfgov-logo__container{
  float: left;
}
.head-right--container{
  float: right;
}
.head-right--container span{
  font-size: 15px;
}